<html>
    <head>
        <%- include('../Partial/bootstrap_links.ejs')%>
        <link rel="stylesheet" href="/Css/style.css"/>
    </head>
    <body>
        <%- include('../Partial/userAdminmenu.ejs')%>
        <h1>User-Admin Home Page</h1>
    </body>
</html>